@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,vietnamese);
* {
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust:none;
}
body {
    margin: 0px;
    padding: 0px;
    outline : none;
}
div.clear {clear: both}
a {text-decoration: none}
img {
	max-width:100%;
	height: auto;
	border:none;
}
a:hover, a:active, a:focus, li:hover, .transit{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
li {
	list-style: none;
}
.widget_nav_menu ul {
	margin: 0;
	padding: 0;
}
.animal{
	overflow: hidden;
}
.animal img {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}
.animal img:hover {
	transform: scale(1.1);
}
/* ------------------Start Here --------------------------*/

/* Structure and Layout 
--------------------------------------------------- */
.site-container {
	margin: 0 auto;
	max-width: 100%;
	position: relative;
}
.site-inner {
	clear: both;
	padding-bottom: 20px;
}
.content-sidebar-wrap {
	padding: 20px 0;
	position: relative;
}
.wrap,.site-inner{
	max-width: 1000px;
	margin: auto;
	position: relative;
}
.content-sidebar-wrap:after, .wrap:after ,.site-inner:after{
	content: '';
	display: block;
	clear: both;
}
/* Site Header
--------------------------------------------------- */
.site-header {
	position: relative;
	background: url(images/header.png)no-repeat;
	background-size: cover;
}
.site-title {
	position: absolute;
	text-indent: -9999px;
}
.site-header .header-banner .header-logo a{
	display: block;
	line-height: 0;

}
.header-logo-mobile {
	display: none;
}
/* Site Navigation
--------------------------------------------------- */
.nav-primary {
    background: #4caf50;
    padding: 5px;
}
.nav-primary ul.menu {
	margin: 0;
	padding: 0;
}
.nav-primary ul.menu li {
	float: left;
	list-style: none;
	position: relative;
	padding: 0 9px;
}
.nav-primary li a {
	color: #FFFFFF;
	font-weight: 600;
	margin: 0;
	padding: 0px 18px;
	line-height: 40px;
	position: relative;
	text-decoration: none;
	text-transform:uppercase;
	white-space: nowrap;
	font-size: 14px;
	display: inline;
}
.nav-primary ul.menu > li{
	background: url(../images/bg-li-menutop.png) center right no-repeat;
}
.nav-primary ul.menu > li:last-child{
	background: none;
}
.nav-primary ul.menu > li:first-child{
	padding-left: 0;
}
.nav-primary ul.menu > li > a{
	padding: 10px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav-primary ul.menu > li:hover > a, .nav-primary ul.menu > .current_page_item > a, 
.nav-primary ul.menu > .current-cat > a, .nav-primary ul.menu > .current-menu-item > a,
.footer-widgets .widget-area.footer-widgets-1 ul li:hover > a{
	color: #FFFFFF;
	background: #328f36;
}

/* sub menutop lv 1 */
.nav-primary li li {
	background: #4caf50;
	width: 100%;
	border-top: rgba(255, 255, 255, 0.51) solid 1px;
	clear: both;
	padding: 0 !important;
	margin-top: -15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	-moz-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-webkit-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	-o-transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
	transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}
.nav-primary li li:hover{
	background: #328f36;
}
.nav-primary li li a {
	color: #FFFFFF;
	font-size: 13px;
	line-height: 37px;
	padding: 0 10px;
	border: none;
	position: relative;
}
.nav-primary li ul {
	z-index: 9999;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	background: #222;
	width: 240px;
	opacity: 0;
	visibility: hidden;
	-moz-transition: opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
	-webkit-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	-o-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
	transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear;
}
.nav-primary li:hover>ul {
	opacity: 1;
	visibility: visible;
}
.nav-primary li:hover ul li {
	margin-top: 0;
    opacity: 1;
}

/* sub menutop lv 2 */
.nav-primary ul ul ul {
	float: left;
    list-style: none;
    z-index: 9999;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 80%;
    top: 0px;
    background: #222;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.nav-primary ul ul ul li {
	border: none;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
}
.nav-primary ul ul li:hover ul {
	opacity: 1;
    left: 100%;
    visibility: visible;
}

/* Search Form
--------------------------------------------------- */
#searchform, .woocommerce-product-search {
    overflow: hidden;
    padding: 2px 5px;
    background: #7ad07e;
    border-radius: 33px;
}
.woocommerce-product-search {
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: -33px;
}
#searchform label, .woocommerce-product-search label {
	display: none;
}
#searchform input[type=text], .woocommerce-product-search input[type=text], .woocommerce-product-search input[type=search] {
	float: left;
	width: 148px;
	border: none;
	height: 22px;
	padding: 2px 6px;
	background: #7ad07e;
	font-size: 12px;
}
#searchform input[type=submit], .woocommerce-product-search input[type=submit] {
	float: left;
	width: 30px;
	height: 22px;
	border: none;
	text-indent: -9999px;
	background: url(images/btsearch.png) center no-repeat;
	cursor: pointer;
}
.woocommerce-product-search input[type=search]::-webkit-input-placeholder {
   color: #fff;
}
 
.woocommerce-product-search input[type=search]:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
 
.woocommerce-product-search input[type=search]::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
 
.woocommerce-product-search input[type=search]:-ms-input-placeholder {  
   color: #fff;  
}

/* Sidebar
--------------------------------------------------- */
.sidebar {
	float: right;
	width: 23.5%;
}
.sidebar .widget {
    margin-bottom: 18px;
    padding: 0;
    background: #eaeaea;
}
.sidebar .widget.img-qc {
	border: none;
}
.sidebar .widget.img-qc a{
    display: block;
    line-height: 0;
    margin-bottom: 8px;
}
.sidebar h4.widget-title {
	background: #4caf50;
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	position: relative;
	text-transform: uppercase;
	margin: 0px;
	height: 45px;
	line-height: 45px;
	padding-left: 40px;
}
.sidebar h4.widget-title:before{
	content: "";
	position: absolute;
    top: 17px;
	left: 10px;
	width: 16px;
	height: 10px;
	background: url(images/menu-sidebar.png)no-repeat;
}
.sidebar .facebook_like h4.widget-title,
.sidebar .widget_countperday_widget h4.widget-title,
.sidebar .products_widget h4.widget-title,
.sidebar .featuredpost h4.widget-title{
	background: none;
	color: #333;
	padding-left: 30px;
	position: relative;
}
.sidebar .facebook_like h4.widget-title:before,
.sidebar .widget_countperday_widget h4.widget-title:before,
.sidebar .products_widget h4.widget-title:before,
.sidebar .featuredpost h4.widget-title:before{
	content: "";
	position: absolute;
    top: 11px;
	left: 10px;
	width: 4px;
	height: 22px;
	background: #4caf50;
}
.sidebar ul, .sidebar ol, .sidebar-alt ul, .sidebar-alt ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar ul.menu {
	margin: 0 15px;
}
.sidebar ul.menu li {
	padding: 7px 0px 7px 10px;
	position: relative;
	border-bottom: 1px solid #dddddd;
	position: relative;
}
.sidebar ul.menu li:last-child {
	border-bottom: 0;
}
.sidebar ul.menu li a {
	font-weight: 600;	
	color: #333333;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.sidebar ul.menu li.menu-item-has-children:after{
    content: "\f0da ";
    position: absolute;
    font-family: FontAwesome;
    color: #7b7b7b;
    font-size: 90%;
    top: 8px;
    right: 0px;
}
.sidebar ul.menu li a:before {
    content: "\f0c8";
    font-family: FontAwesome;
    color: #4caf50;
    font-size: 75%;
    margin-right: 10px;
}
.sidebar ul.menu li:hover > a {
	color: #2f9a3d;
	padding-left: 5px;
}
/* Submenu */
.sidebar ul.menu ul {
	position: absolute;
	left: 86%;
	width: 100%;
	top: 0;
	background: #eaeaea;
	z-index: 9999;
	opacity: 0;
	border: 0;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
.sidebar ul.menu li:hover > ul {
	opacity: 1;
    left: 100%;
    visibility: visible;
}
/* Widget Featuredpost */
.sidebar .featured-content article {
	margin: 0;
	padding: 7px 10px;
	overflow: hidden;
}
.sidebar .featured-content article:nth-child(2) {
	padding-top: 0px;
}
.sidebar .featured-content article:last-child {
    padding-bottom: 40px;
    position: relative;
}
.sidebar .featured-content article  > a.alignleft {
    float: left;
    margin: 0 10px 0 0;
    display: block;
    line-height: 0;
}
.sidebar .featured-content article  > a.aligncenter {
	display: block;
	text-align: center;
	line-height: 0;
	padding-top: 5px;
}
.sidebar .featured-content article  > a.alignleft img {
    height: auto;
}
.sidebar .featured-content article .entry-header {

}
.sidebar .featured-content article .entry-header h2 {
    padding: 0;
    margin: 10px 0 5px;
    overflow: hidden;
}
.sidebar .featured-content article .entry-header h2 a {
    display: block;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
}
.sidebar .featured-content article .entry-header h2:hover a {
	color: red;
}
.sidebar .featured-content article .entry-content p{
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    display: block;
    max-height: 54px;
    color: #666;
    overflow: hidden;

}
.sidebar .featured-content article .entry-content p a{
	position: absolute;
    bottom: 10px;
    right: 20px;
    color: #fff;
    background: #4caf50;
    font-size: 13px;
    padding: 0px 12px;
    border-radius: 30px;
}
/* Widget Product Slide */
.promoteslider {
	margin-top: 5px;
	padding-bottom: 10px;
}
.promoteslider ul {
	width: 100%;
	padding: 0;
}
.promoteslider .product-list.style-product-1 li.slider-product {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider{
	overflow: hidden;
	background: url(images/bg-after.png)bottom repeat-x;
	margin:0 12px;
	padding: 10px 0px;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider > a{
	display: block;
	line-height: 0;
	max-width: 63px;
	height: 63px;
	float: left;
	border: 1px solid #ccc;
	background: #fff;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider > a img{
/*	width: 100%;
	height: auto;*/
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product{
	float: right;
	width: calc( 100% - 73px );
	text-align: left;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .product-title{
	display: block;
	color: #333;
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .price{
    margin: 6px 0 0 0;
    color: #ff1100;
    font-weight: 600;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .price span{
	margin-right: 15px;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .price span,
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .price del{
	display: inline-block;
}
.promoteslider .product-list.style-product-1 li.slider-product .box-product-slider .content-product .price del{
	color: #666;
	font-size: 13px;
	font-weight: 500;
}
.promoteslider .preview-slider {
	display: none;
}
/* Widget Count Per Day */
.cpd {
	margin: 0;
	padding: 0;
}
.cpd li {
    padding: 5px 10px !important;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    font-weight: 500;
}
.cpd-l, .cpd-r {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
}

/* Slider
--------------------------------------------------- */
.metaslider {
	margin: 20px auto 0 !important;
}

/* Content Area
--------------------------------------------------- */
.content-sidebar-wrap .content {
	width: calc( 100% - 23.5% - 20px );
	float: left;
}
.sidebar-content .content,
.sidebar-sidebar-content .content {
	float: right;
}
.content-sidebar .content {
	float: left;
}
/* Heading */
.heading, #related-post h3{
	color: #333;
	font-weight: 700;
    background: url(images/bg-heading.png)center repeat-x;
	line-height: 40px;
	clear: both;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 16px;
}
.heading a, .heading span {
	color: #333;
	line-height: 40px;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	background: url(images/heading.png)left center no-repeat #fff;
	padding-left: 50px;
	padding-right: 10px;
}
.heading a:hover {
	text-decoration: underline;
}
h1.page-title, h4.heading {
	margin-bottom: 10px;
}
.content .entry-title {
    color: #FFFFFF;
    font-weight: 600;
    background: #4caf50;
    clear: both;
    margin: 0 0 10px 0;
    padding: 13px;
    text-transform: uppercase;
}
.content .entry-content {
	padding: 10px;
	line-height: 1.5
}
.entry-content table {
	border-collapse: collapse;
	border-spacing: 5px;
}
.single-post .entry-title{
	background: none;
	color: #4caf50;
	font-size: 17px;
}
.content .entry-content li {
	list-style: none;
    padding: 3px 0;
}
.content .entry-content h1, .content .entry-content h2, .content .entry-content h3 , .content .entry-content h4,
.content .entry-content h5, .content .entry-content h6, .content .entry-content p, .content .entry-content ul,
.content .entry-content ol {
	margin: 0 0 15px;
}
.content .entry-content p {
	line-height: 25px;
}
.content .entry-content span,
.content .entry-content em,
.content .entry-content strong {
	font-size: inherit;
	font-family: inherit;
}

.content .entry-content table {
    border-collapse: collapse;
}
.content .entry-content table, .content .entry-content td, .content .entry-content th {
    border: 1px solid #ccc;
    padding-left: 10px;
}
.entry-content img {
	max-width: 100%;
	height: auto;
}
.aligncenter{
	display: block;
	margin:	0 auto;
	text-align: center;
}
.alignright {
	display: block;
	float: right;
}
/* Related News */
#related-post h3 {
	text-transform: uppercase;
	margin: 6px 0;
}
#related-post ul {
	margin: 0 0 10px;
	padding: 0;
}
#related-post ul li {
	list-style: square inside;
	color: #666;
	padding: 3px 0;
}
#related-post ul li a {
	color: #444;
}
#related-post ul li:hover > a {
	color: #222;
}

/* Archive Page
--------------------------------------------------- */
.new-list {
	margin: 0;
	padding: 0;
}
.news-post{
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px 10px 15px 10px;
    border: 1px solid #cccccc;
    position: relative;
}
.news-post h2 {
	margin: 0;
	padding: 0;
}
.news-post h2 a {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}
.news-post .thumb-new {
	float: left;
	margin-right: 10px;
}
.news-post img {
    border: 1px solid #cccccc;  
    max-width: 210px;
    height: auto;
}
.news-post p {
	padding: 5px 0;
	text-align: justify;
	color: #333333;
	margin: 0;
	font-size: 13px;
}
.news-post .more-link {
    position: absolute;
    bottom: 4px;
    right: 24px;
    color: #333;
    font-weight: 600;
}
.news-post .more-link:hover, .news-post h2:hover a {
	color: red;
}

/* Footer
--------------------------------------------------- */
.footer-widgets, .site-footer,.footer-copyright {
	clear: both;
/*    overflow: hidden;*/
    background: #e2e2e2;
}
.footer-widgets {
	border-top: 2px solid #4caf50;
	padding: 20px 0;
	position: relative;
}
.footer-widgets:before{
	content: "";
	position: absolute;
	top: -8px;
	height: 4px;
	width: 100%;
	background: #4caf50;
}
/*.footer-widgets .wrap{
	margin: 0 -15px;
}*/
/* footer 1 */
.footer-widgets .widget-area {
	width: 25%;
	padding: 0 15px;
	float: left;
}
/* footer 2
---------------------------- */
.footer-widgets .widget-area.footer-widgets-1 {
	padding-left: 0;
}
.footer-widgets .widget-area.footer-widgets-1 .img-qc{
    margin: 10px 0;
}
.footer-widgets .widget-area.footer-widgets-4{
	padding-right: 0;
}
.footer-widgets .widget-area ul {
	padding: 0;
	margin: 0;
}
.footer-widgets .widget-area ul li a {
    line-height: 36px;
    color: #444;
    font-size: 13px;
    position: relative;
}
.footer-widgets .widget-area ul li a:before {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f105";
    margin-right: 10px;
    color: #4caf50;
}
.footer-widgets .widget-area ul li:hover > a  {
	color: red;
}
/* footer 3
---------------------------- */
/* footer 4
---------------------------- */

.footer-widgets p {
	color: #444444;
	line-height: 25px;
	font-size: 13px;
	margin: 0;
}
.footer-widgets p span{
	text-transform: uppercase;
	font-weight: 700;

}
.footer-widgets p i{
	margin-right: 10px;
}
.footer-widgets h4 {
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
p#credit-link {
	text-align: center;
	margin: 0;
	line-height: 40px;
	border-top: 1px solid #fff;
}
p#credit-link strong {
	color: #444444;
	text-decoration: none;
	line-height: 24px;
}

/* Contact Form
--------------------------------------------------- */
.wpcf7 p {
	line-height: 2;
	overflow: hidden;
}
.wpcf7 label {
	font-weight: 600;
	color: #333333;
	float:left;
	width: 150px;
	margin-right: 6px;
	line-height: 40px;
	font-size: 16px;
}
.wpcf7 label span.sao {
	color: #F00;
}
.wpcf7 input[type=text], 
.wpcf7 input[type=email], 
.wpcf7 input[type=tel] {
	width: 250px;
	height: 40px;
	border: 1px solid #cccccc;
	float: left;
	padding: 5px 10px;
}
.wpcf7 textarea{
	width: 250px;
	height: 120px;
	margin-bottom: 7px;
	padding: 5px 10px;
	resize: none;
	border: 1px solid #cccccc;
}
.wpcf7 input[type=submit], .wpcf7 input[type=reset] {
	padding: 6px 15px;
	cursor: pointer;
	font-size: 16px;
}
.wpcf7 input[type=submit] {
	margin-left: 155px;
	background: #2f9a3d;
	color: #FFF;
	font-weight: 600;
	border: none;
}
.wpcf7 input[type=submit]:hover,
.wpcf7 input[type=reset]:hover {
	background: #d00e0e;
}
/* form dk */
.dknhantin {

}
.dknhantin img {
	display: none;
}
.dknhantin p {
	margin-top: 0;
}
.dknhantin input[type=email] {
    background: #fff;
    border: none;
    height: 30px;
    width: calc(100% - 83px);
}
.dknhantin input[type=submit] {
    margin: 0;
    border: 0;
    background: #4caf50;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    float: left;
    font-size: 13px;
    font-weight: 500;
}
.dknhantin > div {
	font-size: 13px;
	font-style: italic;
	line-height: 28px;
}
.dknhantin span.wpcf7-not-valid-tip {
	display: none;
}
/* Backtop
--------------------------------------------------- */
#back-top {
    position: fixed;
    bottom: 30px;
    right:20px;
}
#back-top a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top span {
    width: 45px;
    height: 45px;
    display: block;
    margin-bottom: 7px;
    background: url(images/backtop.png) center no-repeat;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

/* Breadcrumb
--------------------------------------------------- */
.breadcrumb {
	margin: 0 0 10px 0;
	padding: 5px 0;
	color: #333333;
}
.breadcrumb a {
	color: #777;
}

/* Page navigation
--------------------------------------------------- */
.wp-pagenavi {
	float: right;
	margin: 10px;
}
.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #BFBFBF;
	margin: 2px !important;
	padding: 3px 7px !important;
	text-decoration: none;
}
/* css layout 
-----------------------------------------------------------
-------------------------------------------------------------------*/
/* layout 2 widget
---------------------------------------- */
.content-sidebar-sidebar .content-sidebar-wrap {
	width: calc( 100% - 23.5% - 15px );
	float: right;
	padding: 0;
}
.content-sidebar-sidebar .content-sidebar-wrap .content {
	width: calc( 100% - 31.4% - 15px );
}
.content-sidebar-sidebar .sidebar-primary {
    width: 31.4%;
}
.content-sidebar-sidebar .sidebar-secondary {
	float: left;
}
/* layout 1 widget right
--------------------------------- */
.sidebar-content .sidebar-primary, 
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* css menu mobile 
-------------------------------------------------------------*/
/* secondary-toggle button menu top */
.menu-repons{
    overflow: hidden;
    background: #2f9a3d;
}
.secondary-toggle {
    background-color: #FFF;
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    height: 35px;
    overflow: hidden;
    padding: 0;
    display: block;
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #2f9a3d;
    margin: 33px auto 0;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 95%;
}
.secondary-toggle:after {
    color: #2f9a3d;
    font: normal normal normal 18px/1 FontAwesome;
    content: "\f0c9";
    line-height: 35px;
    width: 40px;
    position: absolute;
    top: 0;
    right: -10px;
}
/* dropdown-toggle in ul */
.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: rgba(51, 51, 51, 0.1);
}
.dropdown-toggle {
    background-color: transparent;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    height: 38px;
    width: 42px;
    padding: 0;
    position: absolute;
    text-transform: lowercase;
    top: 0px;
    right: 0;
}
.dropdown-toggle:after {
    color: #333;
    content: "\f107";
    font-size: 24px;
    line-height: 42px;
    position: relative;
    top: 0;
    font-weight: bold;
    left: 1px;
    width: 42px;
    font: normal normal normal 14px/1 FontAwesome;
}
.dropdown-toggle.toggled-on:after {
    content: "\f106";
}
/* css menu top */
.nav-primary-mobile {
    display: none;
    color: #FFF;
    background: #fff;
}
.nav-primary-mobile ul {
    margin: 0;
    padding: 0;
}
.nav-primary-mobile li{
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
}
.nav-primary-mobile .nav-menu > ul > li:first-child, 
.nav-primary-mobile .nav-menu > li:first-child {
    border-top: 0;
}
.nav-primary-mobile a {
    display: block;
    padding: 9px 0 9px 10px;
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.nav-primary-mobile li:hover > a{
	color: #4caf50;
}
.nav-primary-mobile ul ul {
    display: none;
    margin-left: 0.8em;
}
.nav-primary-mobile ul .toggled-on {
    opacity: 1;
    visibility:visible;
    display: block;
}
/* menu sidebar */
.sidebar-mobile {
    margin: 0;
    padding: 0;
}
.sidebar-mobile li {
    border-top: 1px solid #eaeaea;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    position: relative;
}
.sidebar-mobile li:first-child {
    border-top: 0;
}
.sidebar-mobile li a {
    display: block;
    padding: 9px 0;
    position: relative;
    text-decoration: none;
    color: #333333;

}
.sidebar-mobile li a:before{
	content: "\f0c8";
    font-family: FontAwesome;
    color: #4caf50;
    font-size: 75%;
    margin-right: 10px;
}
.sidebar-mobile li a{
    padding-left: 10px;
}
.sidebar-mobile li:hover > a{
    color: #06802e;
}
.sidebar-mobile li .dropdown-toggle {
    width: 30px;
    height: 30px;
}
.sidebar-mobile ul {
    display: none;
    margin-left: 0.8em;
    border: 0;
}
.sidebar-mobile li .toggled-on {
    opacity: 1;
    visibility:visible;
    display: block;
}
/* css quang cao 2 ben */
.rt-ads-left, .rt-ads-right {
    position: absolute;
}
/*********img-art-home******************/
.img-art-home{
    overflow: hidden;
    margin-bottom: 6px;
}
.img-art-home .img-qc a{
   display: inline-block;
    line-height: 0;
    float: left;
    width: 31.9%;
    margin: 0 2.15% 10px 0;
}
.img-art-home .img-qc a:nth-child(3n){
	margin-right: 0;
}
/******view-all-home*********/
.view-all-home{
    clear: both;
    text-align: center;
    margin: 0 0 15px 0;
}
.view-all-home > a{
	display: inline-block;
	border: 2px solid #4caf50;
	border-radius: 30px;
	color: #333;
	font-size: 12px;
	 padding: 3px 25px;
	text-transform: uppercase;
	font-weight: 500;
}
/******slider-news-home*********/
.slider-news-home .slider-product-own .widget-title{
    font-weight: 700;
    background: url(images/bg-heading.png)center repeat-x;
    line-height: 40px;
    clear: both;
    margin: 0 50px 10px 0;
}
.slider-news-home .slider-product-own .widget-title span{
	color: #333;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    background: url(images/heading.png)left center no-repeat #fff;
    padding-left: 50px;
    padding-right: 10px;
    text-transform: uppercase;
}
.slider-news-home .slider-product-own .owl-carousel{
	padding: 20px;
	border: 1px solid #ddd;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news{
    padding: 5px 0;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news h2{
    margin: 0 0 5px 0;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news h2 a{
	color: #333;
	font-size: 13px;
	line-height: 18px;
	height: 54px;
	display: block;
	overflow: hidden;
	font-weight: 500;
}

.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .date-and-view{
    clear: both;
    margin-bottom: 11px;

}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .date-and-view span{
	display: inline-block;
	color: #666;
	font-size: 12px;
	font-weight: 500;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .date-and-view span.date-time{
	margin-right: 10px;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .date-and-view span i{
	color: #66ba69;
	margin-right: 3px;
}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .xemtiep{
	margin: 0;
	text-align: center;

}
.slider-news-home .slider-product-own .owl-stage-outer .slider-own-news .content-news .xemtiep > a{
    display: inline-block;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    font-weight: 500;
    background: #4caf50;
    padding: 0px 12px 1px;
}
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-prev i,
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-next i{
	width: 17px;
	height: 17px;
	text-align: center;
	background: #4caf50;
	padding: 0;
	border-radius: 50%;
	font-size: 12px;
    top: -14%;
}
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-prev i{
	left: initial;
	right: 25px;
}
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-next i{
	right: 0;
}
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-prev i:before{
	content: "\f053";
    display: block;
    margin-top: 3px;
    margin-left: -2px;
}
.slider-news-home .slider-product-own .owl-controls .owl-nav .owl-next i:before{
    content: "\f054";
    display: block;
    margin-top: 3px;
    margin-left: 3px;
}
/*********slider-doitac*********/
.slider-doitac{
	clear: both;
	overflow: hidden;
}
.slider-doitac .widget-title{
	display: none;
}
.slider-doitac .img-slider .block_ads{
	padding: 10px 0;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.slider-doitac .img-slider .block_ads .slide-ads ul li{
	width: 185px;
	height: 90px;
	margin: 0;
}
.slider-doitac .img-slider .block_ads .preview-slider .prev{
	left: 5px;
	top: 35px;
}
.slider-doitac .img-slider .block_ads .preview-slider .next{
	right: 5px;
	top: 35px;
}
.slider-doitac .img-slider .block_ads .preview-slider .prev i,
.slider-doitac .img-slider .block_ads .preview-slider .next i {
	color: #555;
}
.slider-doitac .img-slider .block_ads .preview-slider .prev i:before{
	content: "\f053";
}
.slider-doitac .img-slider .block_ads .preview-slider .next i:before{
	content: "\f054";
}
/**************footer-copyright************/
.footer-copyright .wrap{
	background: url(images/bg-after.png)top repeat-x;
}
.footer-copyright .widget_text{
	float: left;

}
.footer-copyright .widget_text p{
	color: #333;
	font-size: 13px;
	margin: 0;
	line-height: 45px;
}
.footer-copyright .widget_nav_menu{
	float: right;

}
.footer-copyright .widget_nav_menu ul li{
	float: left;
}
.footer-copyright .widget_nav_menu ul li a{
	color: #333;
	font-size: 13px;
	font-weight: 500;
	line-height: 45px;
	padding: 0 5px;
}
.footer-copyright .widget_nav_menu ul li a:after{
	content: "|";
	margin-left: 10px;
}
.footer-copyright .widget_nav_menu ul ul{
	display: none;
}
.footer-copyright .widget_nav_menu ul li:last-child > a:after{
	content: "";
}

.navbar-inverse .navbar-toggle {
    border-color: #4caf50;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #4caf50;
}

.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
}

#navbar{
	background-color: #4caf50;
}

#main-content{
	margin-top: 30px;
}

#main-content .panel-heading{
	background-color: #4caf50;
}

#main-content .panel-title{
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#main-content .nav-pills>li.active>a, 
#main-content .nav-pills>li.active>a:focus, 
#main-content .nav-pills>li.active>a:hover{
	background: #4caf50;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    margin: 0px;
}

#main-content .nav-pills>li>a{
	font-size: 13px;
    font-weight: 600;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    margin: 0px;
    color: #333;
    border-radius: 0px;
    border-bottom: none;
}

#main-content .nav-pills>li.active>a>span{
	margin-right: 10px;
	font-weight:normal;
	font-size: 12px;
}

#main-content>nav{
	background-color: #ccc;
}

#main-content ul.nav {
	margin-bottom: 30px;
	background-color: #ffe;
}

#main-content ul.nav li{
	border-bottom: 1px solid #ccc;
}

#banner-content .banner-image{
	display: inline;
	float: left;
	width: 100%;
	margin: -160px 0 -100px 0;
}

#main-content .nav-pills>li>a.supporter {
    font-weight: bold;
    font-size: 21px;
    padding-left: 15px;

}

.supporter .fa-mobile{
	font-size: 28px;
	width: 25px;
}

.supporter-image{
	width: 100%;
	display: inline;
}

.sp-container{
	margin:10px 0;
}

.sp-container .img-prd img{
	width: 252px;
	height: 252px;
}

.sp-container .title-prd{
	color: #4caf50;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.sp-container .price-prd{
	font-size: 20px;
	margin-top: 10px;
	width: 50%;
	float: left;
}

.sp-container .price-i{
	font-size: 12px;
}

.sp-container .order-btn{
	color:#fff;
}

.sp-container .order-btn:hover{
	text-decoration: none;
}

.img-tin{
	width: 150px;
	float: left;
	margin:0 15px 15px 0;
}

.img-tin img{
	width: 150px;
}

.tin-container .title-tin{
	font-size: 20px;
	margin-bottom: 10px;
}

.sp-name{
	margin:15px 0;
}

.sp-row{
	margin: 6px 0;
}

.sp-val{
	font-size: 24px;
	color: #4caf50;
}

.sp-lbl{
	font-size: 18px;
}

.sp-desc{
	font-size: 14px;
}

.order-val{
	width: auto;
	float: left;
	margin:0 10px 0 0;
}

.btn-action-sp{
	margin: 0 5px;
}

tbody>tr>td{
	font-size: 18px;
	line-height: 18px;
}

.title-email h3{
	font-weight: 600;
	text-transform: uppercase;
}

.panel{
	border:none;
}

.title-news{
	font-size: 18px;
	margin:5px;
}

.image-news img{
	width: 100%;
	height: 172px;
}